{% extends 'accounts/base_login.html' %}

{% block container %}
    <div style="align-items: center" class="card-body">
        <form action="{% url 'create_ins' user_id=active_user.id %}" method="post"> {% csrf_token %}

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ins_first_name">First Name</label>
                        <input type="text" id="ins_first_name" name="ins_first_name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ins_last_name">Last Name</label>
                        <input type="text" id="ins_last_name" name="ins_last_name" class="form-control">
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ins_date">Date of Birth</label>
                        <input type="date" id="ins_date" name="ins_date" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="ins_gender">Gender</label>
                        <select class="form-control" id="ins_gender" name="ins_gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ins_email">Email</label>
                        <input type="text" id="ins_email" name="ins_email" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ins_password">Password</label>
                        <input type="password" id="ins_password" name="ins_password" class="form-control">
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Instructor</button>
            </div>
        </form>
    </div>
{% endblock container %}