{% extends 'accounts/base_login.html' %}

{% block container %}
    <div style="align-items: center" class="card-body">
        <form action="{% url 'create_room' user_id=active_user.id %}" method="post"> {% csrf_token %}
            <div class="pl-lg-4">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="room_name">Room Name</label>
                        <input type="text" id="title" name="room_name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="room_capacity">Room Capacity</label>
                        <input type="text" id="title" name="room_capacity" class="form-control">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add Room</button>
            </div>
        </form>
    </div>
{% endblock container %}