{% extends 'accounts/base_login.html' %}

{% block container %}
    <body>

    <table class="table">
        <thead>

        </thead>
        <tbody>

            <tr>
                <td class="td-actions ">
                <div class="row">
                <form class="form" action="{% url 'save_changed_password' user_id=active_user.id %}" method="post"
                style="border: 3px solid #a597ff; padding: 50px 80px; align-self: center; border-radius: 10px;  margin:90px  auto;" >
                    {% csrf_token %}
                    <br>

                    <label for="oldPassword" style="display: block">Old Password: </label>
                    <input id="oldPassword" type="password" name="old_password" style="display: block">
                    <br>
                    <label for="newPassword" style="display: block">New Password: </label>
                    <input id="newPassword" type="password" name="new_password" style="display: block">
                    <br>
                    <label for="newPasswordAgain" style="display: block">New Password Again: </label>
                    <input id="newPasswordAgain" type="password" name="new_password_again" style="display: block">

                    <br>

                    <input type="submit" class="btn btn-primary" value="Save Changes" style="display: block">

                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </form>
                </div>
            </td>
            </tr>

        </tbody>



    </table>
    </body>
{% endblock container %}