{% extends 'accounts/base_login.html' %}

{% block container %}
    <body>
    <form action="{% url 'add_ins' user_id=active_user.id %}"
                                  method="post"> {% csrf_token %}

        <button type="submit" class="btn btn-primary float-right"
                style="margin-top: 10px">
            ADD INSTRUCTOR
        </button>

    </form>

    <table class="table">
        <thead>
        <tr>

            <th style="font-size: 15px;color: #9d03ad">Name-Surname</th>
            <th style="font-size: 15px;color: #9d03ad">Email</th>
            <th style="font-size: 15px;color: #9d03ad">Date Of Birth</th>

        </tr>
        </thead>
        <tbody>
        <div class="ins">
            {% for ins in ins %}
                <tr>
                    <td>{{ ins.first_name }} {{ ins.last_name }}</td>
                    <td>{{ ins.email }}</td>
                    <td type="date">{{ ins.date_of_birth }}</td>
                    <td class="td-actions ">
                        <div class="row">

                            <form action="{% url 'update_ins' user_id=active_user.id ins_id=ins.id %}" method="post" > {% csrf_token %}
                                <button type="submit" rel="tooltip" class="btn btn-success btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-settings-gear-65 pt-1"></i>
                                </button>
                            </form>
                            <form action="{% url 'delete_ins' user_id=active_user.id ins_id=ins.id %}" method="post"> {% csrf_token %}

                                <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-fat-remove pt-1"></i>
                                </button>

                            </form>


                        </div>
                    </td>
                </tr>
            {% endfor %}

        </div>
        </tbody>
    </table>
    </body>
{% endblock container %}