{% extends 'accounts/base_login.html' %}

{% block container %}
    <body>
    <form action="{% url 'add_room' user_id=active_user.id %}"
                                  method="post"> {% csrf_token %}

        <button type="submit" class="btn btn-primary float-right"
                style="margin-top: 10px">
            ADD ROOM
        </button>

    </form>

    <table class="table">
        <thead>
        <tr>

            <th style="font-size: 15px;color: #9d03ad">Room Name</th>
            <th style="font-size: 15px;color: #9d03ad">Capacity</th>

        </tr>
        </thead>
        <tbody>
        <div class="myrooms">
            {% for m in myrooms %}
                <tr>
                    <td>{{ m.room_name }}</td>
                    <td>{{ m.room_capacity }}</td>
                    <td class="td-actions ">
                        <div class="row">

                            <form action="{% url 'update_room' user_id=active_user.id room_id=m.id %}" method="post"> {% csrf_token %}
                                <button type="submit" rel="tooltip" class="btn btn-success btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-settings-gear-65 pt-1"></i>
                                </button>
                            </form>
                            <form action="{% url 'delete_room' user_id=active_user.id room_id=m.id %}" method="post"> {% csrf_token %}

                                <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-fat-remove pt-1"></i>
                                </button>

                            </form>


                        </div>
                    </td>
                </tr>
            {% endfor %}

        </div>
        </tbody>
    </table>
    </body>
{% endblock container %}