{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello World!</title>

  <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/argon.css' %}">
</head>
<body>
  <h1>Hello, world!</h1>
    <div class="alert alert-primary" role="alert">
  This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
  </body>
</html>