{% extends 'accounts/base_login.html' %}

{% block container %}
    <div style="align-items: center" class="card-body">
        <form action="{% url 'update_pack_action' user_id=active_user.id pack_id=update_pack.id %}" method="post"> {% csrf_token %}

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="pack_name">Package Name</label>
                        <input type="text" id="pack_name" name="pack_name" class="form-control"
                               value="{{ update_pack.package_name }}">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="pack_duration">Duration</label>
                        <input type="number" id="pack_duration" name="pack_duration" class="form-control"
                               value="{{ update_pack.duration }}">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-control-label" for="pack_price">Price</label>
                        <input type="number" id="pack_price" name="pack_price" class="form-control"
                               value="{{ update_pack.price }}">
                    </div>
                </div>
            </div>
            <div class="service">
                <h2 class="form-control-label" style="font-size: 17px">Select Services </h2>
                {% for s in services %}

                    <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" name="check{{ s.id }}" id="check{{ s.id }}"
                               type="checkbox">
                        <label style="font-size: 15px" class="custom-control-label"
                               for="check{{ s.id }}">{{ s.service_name }}</label>
                    </div>


                {% endfor %}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update Package</button>
            </div>
        </form>
    </div>
{% endblock container %}