{% extends 'accounts/base_login.html' %}

{% block container %}
    <div class="card-body">
        <form action="{% url 'create_news' user_id=active_user.id %}" method="post"> {% csrf_token %}
            <div class="pl-lg-4">

                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="title">Title</label>
                        <input type="text" id="title" name="title" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label " for="desc">Description</label>
                        <textarea style="height: 200px" type="text" id="desc" name="desc"
                                  class="form-control input-lg">
                        </textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add New</button>
            </div>

            {% for message in messages %}
                {{ message }}
            {% endfor %}

        </form>
    </div>
{% endblock container %}