{% extends 'accounts/base_login.html' %}
{% block container %}
    <body>
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal"
            style="margin-top: 10px">
        ADD NEW
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">Add New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form action="{% url 'create_news' %}" method="post"> {% csrf_token %}
                            <div class="pl-lg-4">

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="title">Title</label>
                                        <input type="text" id="title" name="title" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label " for="desc">Description</label>
                                        <textarea style="height: 200px" type="text" id="desc" name="desc"
                                                  class="form-control input-lg">
                        </textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add New</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>

            <th style="font-size: 15px;color: #9d03ad">Title</th>
            <th style="font-size: 15px;color: #9d03ad">Date</th>
            <th style="font-size: 15px;color: #9d03ad">Likes</th>
            <th style="font-size: 15px;color: #9d03ad">Instructor</th>
            <th style="font-size: 15px;color: #9d03ad">Action</th>


        </tr>
        </thead>
        <tbody>
        <div class="news">
            {% for n in news %}
                <tr>
                    <td>{{ n.title }}</td>
                    <td>{{ n.date }}</td>
                    <td>{{ n.likes }}</td>
                    <td>{{ n.instructor_id.first_name }} {{ n.instructor_id.last_name }}</td>

                    <td class="td-actions ">
                        <div class="row">
                            <!-- Large modal -->
                            <form action="{% url 'details_news' news_id=n.id %}" method="post"> {% csrf_token %}
                                 <button type="submit" rel="tooltip" class="btn btn-default btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-circle-08 pt-1"></i>
                                </button>

                            </form>
                            <form> {% csrf_token %}
                                <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-settings-gear-65 pt-1"></i>
                                </button>
                            </form>
                            <form action="{% url 'delete_news' news_id=n.id %}" method="post"> {% csrf_token %}

                                <button type="submit" rel="tooltip" class="btn btn-danger btn-icon btn-sm "
                                        data-original-title="" title="">
                                    <i class="ni ni-fat-remove pt-1"></i>
                                </button>

                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </div>
        </tbody>
    </table>
    </body>
{% endblock container %}