{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EnergyShake</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Welcome to EnergyShake Sports Center!</h1>
            <p><a id="link-to-form" href="{% url 'signupForm' %}">Sign Up</a></p>
            <p><a id="link-to-form" href="{% url 'loginForm' %}">Login</a></p>

        </div>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>