{% extends 'base_layout.html' %}

{% block content %}

    <h3>Login !</h3>
    <form class="form" action="/accounts/login" method="post">

        <label for="email">Email: </label>
        <input id="email" type="email" name="email" maxlength="100" placeholder="Write your email address" required>
        <br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" maxlength="20" placeholder="Your password"required>
        <br>
        <input type="submit" value="Login">
    </form>

{% endblock %}


